html,
body {
  width: auto;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  /* width: 100%; */
}

@keyframes bounce {
  50% {
    font-size: 7rem;
    text-shadow: 6px 6px 3px #0000008a
  }
}

.testJuice {
  animation: bounce .3s;
}

.dice {
  position: relative;
  width: 64px;
  height: 64px;
  transform-style: preserve-3d;
  transition: transform 1.5s;
  background-image: radial-gradient(0% white, 150%black);
}

.side {
  position: absolute;
  background-size: contain;
  width: 64px;
  height: 64px;
  text-align: center;
  color: white;
  align-content: center;
  font-size: 3rem;
  line-height: 32px;
  font-family: 'PT Serif';
  text-shadow: 0px 3px 3px #0000008a;
  border: 1px solid #ffffff22;
  border-radius: 3px;
}
.side:nth-child(1) {
  transform: translateZ(32px);
}
.side:nth-child(2) {
  transform: rotateX(-90deg) translateZ(32px);
}
.side:nth-child(3) {
  transform: rotateY(90deg) translateZ(32px);
}
.side:nth-child(4) {
  transform: rotateY(-90deg) translateZ(32px);
}
.side:nth-child(5) {
  transform: rotateX(90deg) translateZ(32px);
}
.side:nth-child(6) {
  transform: rotateY(-180deg) translateZ(32px);
}

@keyframes idle {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}

.show-undefined {
  transform: rotateX(calc(-1440deg - 6deg)) rotateY(calc(0deg - 15deg)) rotateZ(calc(0deg));
}
.show-1 {
  transform: rotateX(0) rotateY(0) rotateZ(0);
}
.show-2 {  
  transform: rotateX(90deg) rotateY(0) rotateZ(0);
}
.show-3 {
  transform: rotateX(0) rotateY(-90deg) rotateZ(0);
}
.show-4 {
  transform: rotateX(0) rotateY(90deg) rotateZ(0);
}
.show-5 {
  transform: rotateX(-90deg) rotateY(0) rotateZ(0);
}
.show-6 {
  transform: rotateX(-180deg) rotateY(0) rotateZ(180deg);
}