#root {
  display: flex;
  justify-content: center;
}

@keyframes bounce {
  50% {
    font-size: 7rem;
    text-shadow: 6px 6px 3px #0000008a
  }
}
.testJuice {
  animation: bounce .3s;
}